.admin-title {
    margin-bottom: 20px;
left :50%; text-align: center;
}

.admin-title h2 {
    font-size: 24px;left :50%;
    color: #142d4c; align-items: center; flex: content;
    margin: 0;
}

body {

background-color: #3AAFA9;

}
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #142d4c;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}

.btn {
    background-color: #142d4c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
.title{
  top=10%;
}
